/* 
--1--General
--2--Input section
--3--Display city and country
--4--Display today's weather
--5--7 days forecast weather
--6--Utilities
*/

/* Import Google fonts:*/
  /* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
  /* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&family=Noto+Sans+Mono&family=Work+Sans&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

/* @font-face {
    font-family: 'Merriweather';
    src: url('fonts/merriweather-regular-webfont.woff2') format('woff2'),
    url('fonts/merriweather-regular-webfont.woff') format('woff'),
    url('fonts/Merriweather-Regular.ttf') format('truetype');
} */

/* --1--General*/
* {
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif;   */
  font-family: 'Merriweather', serif;
  margin: auto;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  position: relative;
}

body {
  height: 100vh;
}

header {
  min-height: 50px;
  background-color: chocolate;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}

footer {  
  min-height: 50px;
  color: bisque;
  background-color: rgb(14, 14, 61);
  position: absolute;
  width: 100%;
  }

main {
  min-height: calc(100vh - 100px);
  margin: 0;
}

/* Make opacity background for whole page */
main::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/1a/3D_Mithology_1_1.JPG');
  background-size: cover;
}

/* Typography*/
html {
  font-size: 16px;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.25rem;  
  color: #111;
  font-weight: 500;
}

/* Big clock time current */
#current-data-2 h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

li {
  list-style: none;
}

/* --2--Input section */
.input {
  margin-bottom: 1.25rem;
}

.input__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-width: 865px;
  row-gap: 5px;
  width: 90%;
}

label {
  width: 140px;
  margin: 0;
  font-size: 1.125rem;
}

.input__field {
  margin: 0;
  flex-grow: 1;
  max-width: 500px;
  display: flex;
  flex-wrap: nowrap;
}

.input__search-btn {
  width: 180px;
  margin-top: 0;
}

#input-text {
  flex-grow: 1;
  height: 45px;
  text-align: left;
  padding-left: 5px;
  margin-right: 45px;
}

#input-text:hover, 
#input-text:focus {
  background-color: rgba(245, 245, 245, 0.863);
}

#input-text:hover, 
#input-text:focus {
  background-color: rgba(245, 245, 245, 0.863);
}

#current-location-icon {
  background-color: none;
}

.btn {
  height: 42px;
  background-color: rgb(250, 234, 87);
  border: 2px solid rgb(226, 211, 78);
  border-radius: 5px;
  box-shadow: 0px 3px darkgoldenrod;
  cursor:pointer;
}

.btn:hover {
  background-color: rgb(228, 167, 15);
  transition: background-color .15s;
  border: darkgoldenrod;
}

.btn:active { 
  background: darkkhaki;  
  transition: background-color .15s;
  margin-top: 3px;
  box-shadow: 0 0;
  opacity: 0.6;
}

#current-location-btn {
  width: 45px;
  position: absolute;
  right: 0;
  top: 0;
}

#search-btn {
  width: 150px;
  color: darkblue;
  font-size: 1.125rem;
}

#search-btn:hover {
  font-size: 20px;
  border: darkgoldenrod;
}

/* --3--Display city and country */
#detail-location-info {
  font-size: 1.625rem;
  min-height: 60px;
  width: 100%;
  margin-bottom: 10px;
}

/* --4--Display today's weather */
.today {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  width: 90%; 
}

.today__current {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 550px;
  align-items: flex-start;
  margin-bottom: 20px;
}

#current-data-1, 
#current-data-2 {
  width: 225px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

#current-data-1 *,
#current-data-2 * {
  text-align: left;
}


#current-temp {
  font-size: 2.8rem;
}

/* 3 hours forecast */
.today__hours {
  margin-top: 0;
  margin-bottom: 20px;
}

.today__hours-forecast {
  max-width: 900px;
  margin-top: 0;
}

.today__hours-forecast--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.today__hours-forecast--card {    
  margin: 0;
  width: 150px;
  height: 230px;
  padding-top: 20px;
}

/* create background of 3 hours forecast */
#hour-forecast-background  {
  background: linear-gradient(-45deg, #da9d75, #35577D);
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}


/* --5--7 days forecast weather */
#seven-days-label {
  height: 36px;
  font-size: 1.5rem;
  font-weight: 500;
  display: block;
  text-align: left;
  width: 85%;
}

.next-7-days__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5px;
  width: 90%;
}

.next-7-days__daily-card {
  width: 225px;
  height: 270px;
  margin: 10px 0;
}

.next-7-days__daily-card * {
  text-align: left;
}

/* --6--Utilities */
/* Pop-up in case failed to get coordinates */
.popup {
  display: none;
  position:fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Tahoma, sans-serif;
  font-size: 1.125rem;
  padding: 20px 30px;
  background-color: whitesmoke;
  z-index: 3;
  border-radius: 10px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* Tooltip */
#current-location-btn:hover::after {
  content: 'Use current location';
  background-color: lightgoldenrodyellow;
  position: absolute;
  right: 35px;
  top: -20px;
  z-index: 1;
  font-size: 1rem;
  width: 180px;
  border: 5px;
}

/* background image source */
.main__img-source {
  position: absolute;
  right: 10px;
  bottom: 0;
  font-style: italic; 
  opacity: 0.8;
}

#current-data-1 img {
  padding: 0;
}

.big-icon {
  width: 150px;
  height: 150px;
  margin-right: 20%;
}

.big-icon img {  
  width: 100%;
  object-fit: none; 
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }

  .input__field {
    min-width: 350px;
  }

  #current-data-1 {
    width: 160px;
  }

  #current-data-2 {
    width: 200px;
  }

  .today__hours {
    width: 100%;
  }

  .next-7-days__list {
    column-gap: 5px;
    width: 95%;
    justify-content: center;
  }

  .next-7-days__daily-card {
    width: 190px;
  }
}

@media only screen and (max-width: 380px) {
  .input__field {
    min-width: 250px;
  }
}