/* Import Google fonts:*/
  /* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
  /* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&family=Noto+Sans+Mono&family=Work+Sans&display=swap'); */


  @font-face {
    font-family: 'Merriweather';
    src: url('fonts/merriweather-regular-webfont.woff2') format('woff2'),
    url('fonts/merriweather-regular-webfont.woff') format('woff'),
    url('fonts/Merriweather-Regular.ttf') format('truetype');
  }

* {
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif;   */
  font-family: 'Merriweather', serif;
  margin: auto;
  line-height: 1.5;
  color: black;
  font-weight: 500;
  text-align: center;
  position: relative;
}

body {
  font-size: 16px;
}

header {
  min-height: 50px;
  background-color: chocolate;
  top: 0;
  position: sticky;
  z-index: 1;
  width: 100%;
  overflow: visible;
}

footer {
  min-height: 50px;
  color: bisque;
  background-color: rgb(14, 14, 61);
  position: absolute;
  width: 100%;
}

main {
  min-height: calc(100vh - 100px);
}

main::before {
  content: '';
  display: block;
  position: absolute;
  /* top: 0; */
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/1a/3D_Mithology_1_1.JPG');
  background-size: cover;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;  
  text-align: left;
}

h5 {
  font-size: 16px;
  text-align: left;
}

#current-data-2 h3 {
  text-align: left;
}

li {
  list-style: none;  
}

ul, 
.main-showing, 
.current-data, 
.today-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

label, 
input, 
button {
  font-size: 20px;  
  margin: 10px auto;
  height: 50px;
  border: none;
  /* vertical-align: middle; */
  border-radius: 0;
}

/* Input section */
#input-section {
  min-height: 80px;
  padding-top: 20px;
  /* width: 100%; */
}

.contain-input {
  display: inline-block;
}

#location-input {
  font-size: 16px;
  padding-left: 5px;
  margin-right: 50px;
  width: 220px;
  text-align: left;
}

#location-input:hover, 
#location-input:focus {
  background-color: rgba(245, 245, 245, 0.863);
}

#current-location-icon {
  height: 30px;
  width: auto;  
  background-color: none;
}

button#current-location {
  background-color: rgb(250, 234, 87);
  border: 2px solid rgb(226, 211, 78);
  border-radius: 5px;
  box-shadow: 0px 3px darkgoldenrod;
  width: 50px;
  position: absolute;
  right: 0;
  top: 0;
  cursor:pointer;
}
button#current-location:hover {
  background-color: rgb(228, 167, 15);
  transition: background-color .15s;
  border: darkgoldenrod;
}

button#current-location:active { 
  background: darkkhaki;  
  transition: background-color .15s;
  margin-top: 13px;
  box-shadow: 0 0;
  opacity: 0.6;
}

/* Tooltip */
button#current-location:hover::after {
  content: 'Use current location';
  background-color: lightgoldenrodyellow;
  position: absolute;
  display: flex;
  justify-content: center;
  right: -50px;
  top: 52px;
  z-index: 1;
  font-size: 16px;
  width: 180px;
  border: 5px;
}

#search-btn {
  width: 150px;
  margin-left: 10px;
  cursor: pointer;
  background-color: rgb(250, 234, 87);
  color: darkblue;
  border: 2px solid rgb(226, 211, 78);
  font-size: 18px;
  box-shadow: 0px 3px darkgoldenrod;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  bottom: 1px;
}

#search-btn:hover {
  background-color: rgb(228, 167, 15);
  transition: background-color .15s, font-size .15s;
  font-size: 19px;
  border: darkgoldenrod;
}

#search-btn:active { 
  background: darkkhaki;  
  font-size: 18px;
  border-color: rgb(156, 116, 15);
  box-shadow: 0 0;
  opacity: 0.6;
  bottom: -2px;
}

/* Pop-up failed to get coordinates */
.popup {
  display: none;
  position:fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Tahoma, sans-serif;
  font-size: 18px;
  padding: 20px 30px;
  background-color: whitesmoke;
  z-index: 3;
  border-radius: 10px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* Display city and country */
p#location-info {
  font-size: 30px;
  min-height: 60px;
  width: 100%;
}

/* Display today's weather */
.today-section {
  width: 80%;
  margin: 10px auto;
}

#current-data-1, 
#current-data-2 {
  height: 250px; 
  margin: auto 20px;
}

#current-data-2 {
  width: 250px;
  text-align: left;
}

#current-temp {
  font-size: 48px;
}

/* 3 hours forecast */
#hours-forecast-section {
  margin-top: 0;
}

/* create background of 3 hours forecast */
#background-hour-cards  {
  background: linear-gradient(-45deg, #da9d75, #35577D);
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

li.hourly-card {
  margin-bottom: 10px;
  width: 150px;  
}

#hours-forecast-list {
  min-height: 230px; 
  padding: 10px 0;
  font-size: 18px;
}


/* 7 days forecast weather */
#seven-days-label {
  min-height: 50px;
  font-size: 30px;
  display: block;
  padding-top: 10px;
  width: 95%;
}

ul#days-forecast-list {
  width: 95%;
  margin-top: 20px;
}

.daily-card {
  margin: 20px auto;
  height: 260px;
  width: 230px;
}
